*{
    justify-content: center;
    margin: 0;
    padding: 0;
}
html,body {
    width: 100%;
}

body {
  background-image: url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee?auto=format&fit=crop&w=1920&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.bookCard {
  width: 320px;
  background: #ffffff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin: 15px;
  
}

.bookCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.2);
}

.bookImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}

.bookTitle {
  font-size: 22px;
  font-weight: 700;
  color: #222;
  margin: 0;
}

.bookAuthor {
  font-size: 17px;
  color: #555;
  margin: 4px 0;
}

.bookYear,
.bookGenere,
.bookRating {
  font-size: 15px;
  color: #666;
  margin: 2px 0;
}

.bookRating {
  font-weight: 600;
  color: #333;
}

.bookDescription {
  font-size: 15px;
  line-height: 1.5;
  color: #444;
  margin-top: 8px;
}

.booklist{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    /* width: 100% ; */
}

/* Pure section ko top-center rakhne ke liye */
.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* center horizontally */
  margin-top: 20px; /* thoda neeche space */
  color: white;
}

h2 {
  font-size: 22px;
  margin-bottom: 10px;
  text-align: center;
}

/* Input */
.serchBox {
  padding: 8px 12px;
  justify-content: center;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-right: 8px;
}

/* Button */
button {
  padding: 8px 14px;
  font-size: 16px;
  border: none;
  background: #333;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  margin: 20px;
}



